streamlit
openai
google-generativeai
pyttsx3
speechrecognition
pydub
pandas
numpy
requests
torch
transformers
sentence-transformers
faiss-cpu
langchain
tiktoken
gtts
appnope; sys_platform == "darwin"
